JTRO_DEBUG="True"
JTRO_ENVIRONMENT="dev" # dev, production
JTRO_SECRET_KEY="django-insecure-wc*-&kh*7ul88ploh$@m+l681p@_s4_%-pnpzavrh)p2w(kl1$"
JTRO_ALLOWED_HOSTS="*"
JTRO_DJANGO_ADMIN_PATH=""
JTRO_LOGGER="OFF"
JTRO_DJANGO_LOG_LEVEL="DEBUG"
JTRO_BASE_URL="*"

JTRO_DEV_DATABASE="postgis"
JTRO_DEV_DATABASE_ENGINE="django.db.backends.postgresql_psycopg2"
JTRO_DEV_DATABASE_NAME=""
JTRO_DEV_DATABASE_USER=""
JTRO_DEV_DATABASE_PASSWORD=""
JTRO_DEV_DATABASE_HOST="localhost"
JTRO_DEV_DATABASE_PORT="5432"

JTRO_DATABASE="postgis"
JTRO_DATABASE_ENGINE="django.db.backends.postgresql_psycopg2"
JTRO_DATABASE_NAME=""
JTRO_DATABASE_USER=""
JTRO_DATABASE_PASSWORD=""
JTRO_DATABASE_HOST="localhost"
JTRO_DATABASE_PORT="5432"

JTRO_SSL_ENABLED="False"
