{% extends 'base_front.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="timeline-wrapper">
        <div class="timeline-header">
            <div class="container-fluid p-0">
                {% include 'accounts/snippets/login.html' %}
            </div>
        </div>
        <div class="timeline-page-wrapper">
            <div class="container-fluid p-0">
                {% include 'accounts/snippets/registration.html' %}
            </div>
        </div>
    </div>
{% endblock %}
