{% load static %}

<div class="row g-0 align-items-center">
                    <div class="col-lg-6">
                        <div class="timeline-logo-area d-flex align-items-center">
                            <div class="timeline-logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="timeline logo">
                                </a>
                            </div>
                            <div class="timeline-tagline">
                                <h6 class="tagline">It’s helps you to connect and share with the people in your
                                    life</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-area">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm">
                                    <input type="text" placeholder="Email or Userame" class="single-field">
                                </div>
                                <div class="col-12 col-sm">
                                    <input type="password" placeholder="Password" class="single-field">
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <button class="login-btn">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>