{% load static %}

<!-- Modernizer JS -->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<!-- Slick Slider JS -->
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<!-- nice select JS -->
<script src="{% static 'assets/js/plugins/nice-select.min.js' %}"></script>
<!-- audio video player JS -->
<script src="{% static 'assets/js/plugins/plyr.min.js' %}"></script>
<!-- perfect scrollbar js -->
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<!-- light gallery js -->
<script src="{% static 'assets/js/plugins/lightgallery-all.min.js' %}"></script>
<!-- image loaded js -->
<script src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<!-- isotope filter js -->
<script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
